<a href="https://www.m.me/102701588475417" target="_blank" rel="noreferrer">
  <div class="floating-contact">
    <img src="./assets/icons/social/messenger.svg" alt="Messenger" class="icon">
  </div>
</a>
<a target="_blank" href="https://wa.me/527774325896?text=Me%20interesa%20el%20auto%20que%20estás%20vendiendo"
  rel="noreferrer">
  <div class="floating-contact">
    <img src="./assets/icons/social/whatsapp.svg" alt="Whatsapp" class="icon">
  </div>
</a>