<div class="contenedor">
  <h1 class="title">Contactanos</h1>
  <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae veritatis nostrum minus
    dignissimos rem? Magni dolore dignissimos qui aut earum inventore, libero at? Eveniet adipisci minima assumenda
    rerum architecto explicabo.</p>
  <div class="flex-container">
    <div class="contact">
      <a href="https://www.m.me/102701588475417" rel="noreferrer" target="_blank">
        <div class="circle">
          <img src="./assets/icons/social/messenger.svg" alt="facebook" class="icon">
        </div>
      </a>
    </div>
    <div class="contact">
      <a href="https://www.instagram.com/coordinacioneventus_/" rel="noreferrer" target="_blank">
        <div class="circle">
          <img src="/assets/icons/social/instagram.svg" alt="instagram" class="icon">
        </div>
      </a>
    </div>
    <div class="contact">
      <a href="mailto:coordinacioneventus@gmail.com" rel="noreferrer">
        <div class="circle">
          <img src="/assets/icons/social/email.svg" alt="Correo" class="icon">
        </div>
      </a>
    </div>
    <div class="contact">
      <a target="_blank" href="https://wa.me/527774325896?text=Me%20interesa%20el%20auto%20que%20estás%20vendiendo"
        rel="noreferrer">
        <div class="circle">
          <img src="/assets/icons/social/whatsapp.svg" alt="whatsapp" class="icon">
        </div>
      </a>
    </div>
  </div>
</div>