<div class="contenedor">
  <p class="footer__logo">EVENTUS</p>
  <p>&copy; Derechos reservados</p>
  <p>Creado con ❤️ por <a href="https://github.com/calderonjorge" rel="noreferrer" target="_blank">Jorge Calderón</a>
  </p>
</div>