<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/glider.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/lightbox.css">
  <!-- FA -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>
    Eventus | <%=title%>
  </title>
</head>
<header>
  <%# Se valida si tiene un valor la variable nav %>
    <nav class=<%=typeof navMode !='undefined' ? navMode : null %>>
      <div class="navbar contenedor">
        <div class="logo">
          <a href="#">EVENTUS</a>
        </div>
        <div class="enlaces-header">
          <a href="/index">Inicio</a>
          <a href="/servicios">Servicios</a>
          <a href="/evento">Eventos</a>
          <a href="/contacto">Contacto</a>
        </div>
        <div class="hamburguer">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </nav>
</header>