<%- include ('../templates/header', {navMode:'block'} )%>

  <body>

    <section>
      <%- include ('../templates/contact')%>
    </section>


    <footer class="footer">
      <%- include ('../templates/footer')%>
    </footer>

  </body>

  </html>